@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }
  
  /* Optional: Prevent horizontal scroll */
  .no-scroll-x {
    overflow-x: hidden;
  }
  
  /* Optional: Prevent vertical scroll */
  .no-scroll-y {
    overflow-y: hidden;
  }

  
  /* for up down icon in type integer start  */
  @layer utilities {
    .hide-number-spinners {
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
  
    .hide-number-spinners::-webkit-outer-spin-button,
    .hide-number-spinners::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  /* for up down icon in type integer end */
  